@font-face {
    font-family: 'FREESCPT';
    src: url('../fonts/FREESCPT.eot');
    src: url('../fonts/FREESCPT.eot') format('embedded-opentype'),
    url('../fonts/FREESCPT.woff2') format('woff2'),
    url('../fonts/FREESCPT.woff') format('woff'),
    url('../fonts/FREESCPT.ttf') format('truetype'),
    url('../fonts/FREESCPT.svg#FREESCPT') format('svg');
}

body {
    line-height: 1;
    min-width: 320px;
}

ul {
    list-style: none;
}

a:hover, a:active {
    outline: none;
}

body {
    font: 400 14px 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #555;
    background: #fff;
}

p {
    margin: 0 0 20px;
}


#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.container .title h2 {
    margin: 0 0 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #5b6ceb;
}

.about-slider {
    box-shadow: 6px 6px 15px 0 rgb(0 0 0 / 15%);
    border-radius: 10px;
    width: 50%;
	margin: -15px 3px -15px 28px;
}
.slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	padding-top: 300px;
    width: 50%;
	height: 100%;
    border-radius: 10px;
}

#opener {
    position: absolute;
    display: none;
}

#opener + label {
    width: 30px;
    height: 26px;
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    font-size: 0;
    line-height: 0;
}

#opener + label:before,
#opener + label:after,
#opener + label span {
    content: '';
    width: 100%;
    height: 3px;
    background: #5363db;
    position: absolute;
    left: 0;
    transition: all .5s;
    opacity: 1;
}

#opener + label:before {
    top: 0;
}

#opener + label:after {
    top: calc(100% - 3px);
}

#opener + label span {
    top: 50%;
    transform: translateY(-50%);
}

#opener:checked + label span {
    opacity: 0;
}

#opener:checked + label:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#opener:checked + label:after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

#opener:checked ~ #nav {
    display: block;
    position: absolute;
}

#nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 2px dashed #5363d8;
}

#header {
    position: relative;
    z-index: 99;
    background: #fff;
    font-weight: 600;
    box-shadow: 0 3px 7px rgba(0,0,0, 0.15);
}

#header .header-holder {
    padding: 16px 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-menu {
    padding: 10px;
    text-align: center;
}

.head-menu li {
    margin: 0 0 10px;
}

.head-menu a {
    display: block;
    color: #555;
    position: relative;
    text-decoration: none;
}

.head-menu a:after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    height: 2px;
    width: 0;
    background: #5363db;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.head-menu a:hover:after,
.head-menu .active a:after {
    width: 30px;
    opacity: 1;
    visibility: visible;
}

.head-menu a:hover,
.head-menu .active a {
    color: #5363db;
}

.banner {
    padding: 40px 0;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}

.banner .container {
    position: relative;
    z-index: 2;
}

.banner h1 {
    margin: 0 0 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: #fff;
}

.banner .column-content {
    padding: 30px 20px 25px;
    text-align: center;
}

.column-h2 h2 {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    font-family: 'FREESCPT';
    text-transform: none;
    color: white;
}

.doublecolumns .column {
    width: 100%;
}

.body_about h2 {
    margin: 0 0 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #5b6ceb;
}

.body_about p {
    font-size: 17px;
}

.banner:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5363db;
    opacity: .8;
}

.form {
    background: #fff;
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
    padding: 37px 30px 35px;
    margin: 0 auto;
    box-shadow: 8px 8px 10px rgba(0,0,0, 0.3);
}

.form .btn {
    margin-left: auto;
    max-width: 170px;
    display: block;
}

.form h2 {
    font-size: 26px;
    line-height: 1;
    margin: 0 0 28px;
    font-weight: 600;
    color: #5363db;
}

select,
input {
    display: block;
    width: 100%;
    border-radius: 6px;
    background: #f2f2f2;
    color: #888;
    font-size: 14px;
    line-height: 18px;
    padding: 16px 10px;
    height: 50px;
    border: 0;
    box-shadow: none;
    margin-bottom: 17px;
}

select {
    margin-bottom: 31px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin-bottom: 0;
    padding: 16px 10px;
    border-radius: 6px;
    background: #5b6ceb;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    transition: all .5s;
}

.btn:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4) inset;
}

.section2 {
    padding: 30px 0;
}

.section2 .title {
    text-align: center;
    margin: 0 0 15px;
}

h3 {
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 1.2;
    font-size: 41px;
    color: #777;
    font-family: 'FREESCPT';
}

h4 {
    margin: 0 0 25px;
    color: #777;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
}

h4 a {
    color: inherit;
    text-decoration: none;
}

h4 a:hover {
    color: #5363d8;
}

.list-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.list-items > li {
    width: 100%;
    padding: 0 15px 25px;
}

.items {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0, .1);
}

.items p {
    margin: 0 0 8px;
}

.items_visual {
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 100%;
    width: 100%;
    transition: .5s;
}

.items_visual:hover {
    transform: scale(1.1);
    transition: .5s;
}

.items_body {
    padding: 30px;
}

.items_name {
    display: block;
    color: #999;
}

.items_name > a {
    color: inherit;
    text-decoration: none;
}

.items_name > a:hover {
    color: #5363d8;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery > li {
    width: 50%;
}

.item-gallery {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 73%;
    background-position: 50% 50%;
    background-size: cover;
    text-decoration: none;
}

.item-gallery:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5b6ceb;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.item-gallery [class*="icon-"] {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    color: #5b6ceb;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.item-gallery:hover:after {
    opacity: .7;
    visibility: visible;
}

.item-gallery:hover [class*="icon-"] {
    opacity: .7;
    visibility: visible;
}

.about {
    padding: 30px 0;
}

.doublecolumns__column {
    width: 100%;
}

.body_about {
    margin-bottom: 20px;
}

.body_about p:last-child {
    margin-bottom: 0;
}

.section3 {
    position: relative;
    padding: 50px 0 20px;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
}

.section3:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #5363db;
}

.section3 .container {
    position: relative;
    z-index: 2;
}

.list-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.list-info > li {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.item-info {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 1.6875;
    font-weight: normal;
}

.item-info p {
    margin: 0;
}

.ico {
    display: flex;
    width: 70px;
    height: 70px;
    margin: 0 auto 26px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ico img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.item-info h4 {
    margin: 0 0 12px;
    min-height: 54px;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.5;
}

.section-4 {
    padding: 50px 0;
    background: url("../images/bg-03.jpg") no-repeat;
    background-position: 100% 100%;
    background-size: auto 100%;
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px -30px;
}

.list-card > li {
    padding: 0 15px 30px;
    width: 100%;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: #555;
    font-size: 18px;
    line-height: 1;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 9px 9px 50px rgba(0,0,0,0.1);
}

.card .card-head {
    margin-top: -10px;
    padding: 50px 20px 30px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    background: #5b6ceb;
}

.card-head .num {
    font-size: 50px;
    line-height: 24px;
    margin: 0 1px 0 8px;
}

.card-head .simbol {
    font-size: 26px;
    line-height: 24px;
    position: relative;
    top: -10px;
}

.card-body {
    padding: 47px 20px 53px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card .list {
    text-transform: uppercase;
    margin-bottom: 46px;
}

.card .list > li {
    position: relative;
    margin: 21px 0 0;
    padding: 22px 0 0;
}

.card .list > li:first-child {
    padding-top: 0;
    margin-top: 0;
}

.card .list > li:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    width: 99px;
    height: 1px;
    transform: translateX(-50%);
    background: #d7d7d7;
}

.card .list > li:first-child:before {
    display: none;
}

.card .btn {
    width: 170px;
    border-radius: 20px;
}

#footer {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    background: #5363d8;
}

#footer h4 {
    margin: 0 0 30px;
    color: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

[id="footer"] a {
    color: inherit;
    text-decoration: none;
}

[id="footer"] a:hover {
    text-decoration: underline;
}

.footer-list {
    padding: 30px 0;
    background: #5b6ceb;
}

.doublecolumn-list {
    padding-bottom: 20px;
}

.doublecolumn-list address {
    font-style: normal;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 36px;
}

.doublecolumn-list address:before {
    position: absolute;
    content: '\e948';
    top: 0;
    left: 0;
    font-family: 'icomoon';
    font-size: 20px;
}

.doublecolumn-list .email {
    position: relative;
    padding-left: 36px;
}

.doublecolumn-list .email:before {
    position: absolute;
    content: '\e945';
    top: 0;
    left: 0;
    font-family: 'icomoon';
    font-size: 18px;
}

.list-contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-contacts a {
    text-decoration: none;
    text-shadow: none;
    transition: .5s;
}

.list-contacts a:hover {
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    transition: .2s;
}

.list-contacts > li {
    margin-bottom: 22px;
    width: 100%;
}

.list-tel {
    position: relative;
    padding-left: 36px;
}

.list-tel:before {
    position: absolute;
    content: '\e942';
    top: 0;
    left: 0;
    font-family: 'icomoon';
    font-size: 20px;
}

.site {
    position: relative;
    padding-left: 36px;
}

.site:before {
    position: absolute;
    content: '\eaa7';
    top: 0;
    left: 0;
    font-family: 'icomoon';
    font-size: 20px;
}

.social {
    margin: 0 -8px 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 21px;
    line-height: 1;
}

.social > li {
    padding: 0 8px;
}

.social a {
    transition: all .5s;
}

.social a:hover {
    text-decoration: none;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.7);
}

.copy {
    display: block;
    padding: 20px 0;
    text-align: center;
    color:  grey;
    font-size: 16px;
    line-height: 22px;
}

a[href^="mailto:"] {
    word-break: break-all;
}

@media(min-width: 320px) {
    .list-items > li {
        width: 50%;
    }

    .list-info > li {
        width: 50%;
        margin-bottom: 56px;
    }

    .list-contacts > li {
        width: 49%;
    }

    .card {
        margin-top: 10px;
    }

    .about-slider {
        width: 95%;
        margin: 10px 0 10px 15px; 
    }
    
    
    .slide {
        width: 100%;
    }

    .banner h1 , 
    .banner .column-h2 {
        margin-left: 30%;
    }
}

@media(min-width: 768px) {
    h2 {
        font-size: 30px;
    }

    #opener + label {
        display: none;
    }

    #opener + label {
        display: none;
    }

    #nav {
        position: static;
        display: block;
        border: none;
    }

    .head-menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 8px;
        padding: 0;
    }

    .head-menu li {
        margin: 0 0 0 28px;
    }

    .banner {
        padding: 100px 0 109px;
    }

    .banner .column-content {
        padding: 10px 20px 25px;
        text-align: left;
    }

    .banner h1 {
        font-size: 38px;
    }

    .doublecolumns {
        display: flex;
        align-items: center;
    }

    .form {
        margin-left: auto;
        margin-right: 45px;
    }

    .form input:focus {
        border: 1px solid #5363d8;
        
    }

    .section2 {
        padding: 112px 0;
        margin: 0 0 76px;
    }

    .section2 .title {
        margin: 0 0 63px;
    }
    
    .items {
        display: flex;
        align-items: stretch;
    }

    .items_visual {
        width: 47%;
        padding-top: 52.7%;
    }

    .items_body {
        width: 53%;
        display: flex;
        align-items: center;
    }

    .gallery > li {
        width: 25%;
    }

    .about {
        padding: 150px 0;
    }

    .body_about {
        padding-right: 20%;
        margin-bottom: 0;
    }

    .about-slider {
        width: 60%;
        height: 50%;
        margin-right: 10px;
    }

    .slide {
        width: 100%;
    }

    .doublecolumns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .doublecolumns__column {
        width: 49%;
    }

    .section3 {
        padding: 125px 0 76px;
    }
    
    .list-info > li {
        width: 25%;
    }

    .section4 {
        padding: 100px 0;
        
    }

    .list-card > li {
        width: 50%;
    }
    
    .card-head {
        padding: 60px 20px 46px;
    }

    .card-head .num {
        font-size: 67px;
        margin: 0 1px 0 13px;
    }

    .card-head .simbol {
        font-size: 32px;
    }

    .card {
        margin-top: 10px;
    }

    #footer h4 {
        margin-bottom: 52px;
    }

    .footer-list {
        padding: 96px 0;
    }
}

@media (min-width:992px) {
    .list-card > li {
       width:calc(100% / 3);
    }
}




